@media screen and (min-width: 1024px) {

    body{
        max-width: 1440px;
        width:100%;
    }

    .logo{
        position:relative;
        left:46%;
    }

    .logo-size{
        width: 200px;
        height:34px;
    }

    .location-size{
        width:100%;
    }

    .iconelocation{
        position:relative;
        left:48%;
    
    }

    .title-location{
        position:relative;
        left: 48%;
    }

    .titleh1{
        position:relative;
        left:30.5%;
        top:4%;
        width:645px;
        height: 47px;
        font-size: 40px;
    }

    .intro{
        position:relative;
        left: 35%;
        width:531px;
        height: 46px;
    }

    .btnexplorer{
        position:relative;
        left:45%
    }

    .titlefonction{
        position:relative;
        left:10%;
    }

    .fonction{
        display:flex;
        flex-direction: row;
        gap:36.5px;
    }

    .btnfonction{
        position: relative;
        top: 70px;
        right:4.5%;
    }

    .restaurants{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:38px
        }

    .titlerestaurants{
        position:relative;
        left:12%;
        top: 100px;
    }

    .restaurantscard{
        position:relative;
        left: 11%;
        width: 490px;
        height: 251px;
    }

    .new{
        position:relative;
        left: 390px;
    }


    .logofooter{
        position: relative;
        top: 60px;
        left: 85%
    }

    .descfooter{
        text-align: center;
        display:flex;
        flex-direction: row;
        position:absolute;
        left: 38%;
        top: 48px;
        
    }

    .idfooter{
        padding-right:50px;
    }

    .iconefooter1{
        position:absolute;
        bottom:12px;
    }

    .iconefooter2{
        position:absolute;
        left: 185px;
    }
}