$cartcolo: #99E2D0;
$newcolor: #008766;
$btncolorone: #9356DC;

body{
    display:flex;
    flex-direction: column;
    margin:0px;
    background-color: #F6F6F6;
}

.nav{
    background-color: white;
}

.logo{
    position:relative;
    left: 26%;
    right: 9.64%;
    top: 0%;
    bottom: -22.22%;
    margin-top: 14px;
}

.logo-size{
    width:162px;
    font-size: 30px;
    line-height: 44px;
}

a{
    text-decoration: none;
}

.fleche{
    width:17px;
    height: 16px;
    position:relative;
    bottom:10px;
    left:13px;
    color:black;
}

.imgheader{
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menu{
    position:relative;
    bottom:55px;
    border-radius: 15px;
    background-color: #F6F6F6;
}

.title{
    position: relative;
    left:17px;
}
    .title--size{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
    }

.heart{
    display: flex;
    justify-content: flex-end;
    position:relative;
    right: 8%;
    bottom: 50px;
    cursor: pointer;
    &--empty{
        position:absolute;
    }
    &--full{
        position:absolute;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
    }
    &:hover &--full{
        opacity: 1;
    }
    &hover &--empty{
        opacity: 0;
    }
}

.titleentrees{
    position: relative;
    top: 15px;
    left:13px;
    padding-bottom: 10px;
}
    .titleentrees--size{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase; 
    }

.blueline{
    border: 3px solid #99E2D0;
    width:40px;
    position:relative;
    left:13px;
    margin-bottom: 12px;
}

.container {
    width: 75%;
    height: 69px;
    position: relative;
    padding-right: 50px;
    background-color: #FFFFFF;  
    border-radius: 1rem;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    cursor: pointer;
    overflow: hidden; 
    margin-left: 16px;
    margin-bottom: 12px;
}

.price-check {
    position: absolute;
    right: -60px;
    top: 0px;
    display: flex;
    height: 100%;
    transition: right 0.5s ease-in;
}

.container:active .price-check{
    right: 0%;
}

.check-container {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 60px;
    height: 100%;
    background-color: #99E2D0;
}

.check{ 
    color: white;
    width: 20px;
    height: 20px;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    position: relative;
    bottom: -53%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.container p,
.container h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.container:active p,
.container:active h3 {
    max-width: 50%;
}


.titlemenucard{
    position: relative;
    bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .titlemenucard--size{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }

.descmenucard{
    position: relative;
    bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .descmenucard--size{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15.0431px;
        line-height: 18px;
        width: 90%;
    }


.delay-1{
    transform-origin: 0% 50%;
    animation: 0.1s slidein;
}

.delay-2{
    transform-origin: 0% 50%;
    animation: 0.2s slidein;
}

.delay-3{
    transform-origin: 0% 50%;
    animation: 0.3s slidein;
}

.delay-4{
    transform-origin: 0% 50%;
    animation: 0.4s slidein;
}

.delay-5{
    transform-origin: 0% 50%;
    animation: 0.5s slidein;
}

.delay-6{
    transform-origin: 0% 50%;
    animation: 0.6s slidein;
}

.delay-7{
    transform-origin: 0% 50%;
    animation: 0.7s slidein;
}

.delay-8{
    transform-origin: 0% 50%;
    animation: 0.8s slidein;
}

.delay-9{
    transform-origin: 0% 50%;
    animation: 0.9s slidein;
}

.delay-10{
    transform-origin: 0% 50%;
    animation: 0.10s slidein;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }


.btncommande{
    position:relative;
    top: 40px;
    left: 95px;
    width:186px;
    height: 50px;
    border-radius: 25px;
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:white;
    background: linear-gradient(193.33deg, #FF79DA -11.44%  , #9356DC 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.logofooter {
    width: 137px;
    height: 27px;
    filter: brightness(100);
    position: relative;
    left: 25px;
    top: 22px;
}

.footer{
    background-color: #353535;
    color:white;
    width: 100%;
    height: 210px;
    position: relative;
    top:30px;
}

.idfooter{
    position: relative;
    left: 25px;
}

.iconefooter1{
    position: relative;
    top: 55px;
}

.iconefooter2{
    position: relative;
    top:70px;
}

.descfooter{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position:relative;
    left: 25px;
    bottom:16px;
}
    
.contact {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

    body{
        width: 100%;
        background-color: white;
    }

    .logo{
        position: relative;
        left: 33%;
    }

    .imgheader{
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu{
        width: 70%;
        position: relative;
        left: 10%;
    }

    .container{
        width: 70%;
    }

    .btncommande{
        position: relative;
        left: 35%;
    }
}

@media screen and (min-width: 1024px) {
    
    body{
        width: 100%;
        background-color: white;
    }

    .logo{
        position: relative;
        left: 47%;
    }

    .imgheader{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .menu{
        width: 70%;
        position: relative;
        left: 10%;
    }

    .title{
        position: relative;
        left: 25%
    }

    .heart{
        position: relative;
        right: 38%;
    }

    .carte{
        margin-left: 130px;
        
        margin-right: 70px;
        background-color: #F7F7F7;        
    }

    .container{
        width: 634px;
    }

    .btncommande{
        position: relative;
        left: 40%;
    }

    .footer{
        height: 120px;
    }

    .logofooter{
        position: relative;
        left: 89%;
        margin-top: 50px;
    }

    .descfooter{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .iconefooter1{
        position: relative;
        left: 16%;
        top: 21px;
    }

    .iconefooter2{
        position: relative;
        left: 29%;
        top: 2%;
        margin-top: 19px;
    
    }

    .idfooter{
        position: relative;
        left: 15%;
        margin-right: 50px;
    }

    .mention{
        position: relative;
        left: 13%;
        margin-bottom: 20px;
    }

    .contact{
        position: relative;
        left: 14%;
        top: 15px;
    }
}